<?xml version="1.0"?>
<config>
    <modules>
        <MEC_ChangeOrderStatus>
            <version>1.0.0</version>
        </MEC_ChangeOrderStatus>
    </modules>
    <global>
        <blocks>
            <mec_changeorderstatus>
                <class>MEC_ChangeOrderStatus_Block</class>
            </mec_changeorderstatus>
            <adminhtml>
                <rewrite>
                    <sales_order_status_new_form>MEC_ChangeOrderStatus_Block_Adminhtml_Sales_Order_Status_New_Form</sales_order_status_new_form>
                </rewrite>
                <rewrite>
                    <sales_order_status_edit_form>MEC_ChangeOrderStatus_Block_Adminhtml_Sales_Order_Status_Edit_Form</sales_order_status_edit_form>
                </rewrite>
                <rewrite>
                    <sales_order_view_history>MEC_ChangeOrderStatus_Block_Adminhtml_Sales_Order_View_History</sales_order_view_history>
                </rewrite>
            </adminhtml>                        
        </blocks>
        <models>            
            <mec_changeorderstatus>
                <class>MEC_ChangeOrderStatus_Model</class>
                <resourceModel>mec_changeorderstatus_resource</resourceModel>
            </mec_changeorderstatus>            
            <mec_changeorderstatus_resource>                
                <class>MEC_ChangeOrderStatus_Model_Resource</class>                
                <entities>
                    <orderstatusemail>
                        <table>mec_changeorderstatus_order_status_email</table>
                    </orderstatusemail>                    
                </entities>                                
            </mec_changeorderstatus_resource>            
            <sales_resource>
                <rewrite>
                    <order_status>MEC_ChangeOrderStatus_Model_Sales_Resource_Order_Status</order_status>					
                </rewrite>
            </sales_resource>            
            <sales>
                <rewrite>
                    <order_status>MEC_ChangeOrderStatus_Model_Sales_Order_Status</order_status>					
                </rewrite>                
                <rewrite>
                    <order>MEC_ChangeOrderStatus_Model_Sales_Order</order>					
                </rewrite>                
            </sales>                                                                                                 
        </models>        
        <helpers>
            <mec_changeorderstatus>
                <class>MEC_ChangeOrderStatus_Helper</class>
            </mec_changeorderstatus>
        </helpers>                
        <resources>
            <mec_changeorderstatus_setup>
                <setup>
                    <module>MEC_ChangeOrderStatus</module>
                </setup>
            </mec_changeorderstatus_setup>
        </resources>                
        <events>            
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <mec_changeorderstatus_core_block_abstract_prepare_layout_before>
                        <class>mec_changeorderstatus/observer</class>
                        <method>addMassAction</method>
                    </mec_changeorderstatus_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>                 
        </events>                       
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MEC_ChangeOrderStatus before="Mage_Adminhtml">MEC_ChangeOrderStatus_Adminhtml</MEC_ChangeOrderStatus>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>    
    <adminhtml>        
        <translate>
            <modules>
                <Osmibit_Erpsync>
                    <files>
                        <default>MEC_ChangeOrderStatus.csv</default>
                    </files>
                </Osmibit_Erpsync>
            </modules>
        </translate>
    </adminhtml>       
    <default>
        <changeorderstatus>
            <general>                
                <module_enabled>1</module_enabled>
                <send_mail>1</send_mail>
                <protect_order_state>0</protect_order_state>
            </general>
        </changeorderstatus>
    </default>                  
</config>
